h1, h2, p {
  text-align: center;
}

body {
  /* background-color: burlywood; */
  background-image: url(https://wallpaperaccess.com/full/5053492.jpg);
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  font-family: sans-serif;
  padding: 20px;
}

/*div, h1 etc are SELERCTORS not classes */
/*width is taking 80% of its parent element AKA THE BODY ELEMENT */
/*menu is a class soooo . */
.menu {
margin-left: auto;
margin-right: auto;
width: 80%;
background-color: burlywood;
padding: 20px;
max-width: 500px;
}
.flavor, .dessert {
text-align: left;
width: 75%;
}

.price {
text-align: right;
width: 25%;
}
/* */
.item p{
display: inline-block;
}

h1, h2 {
font-family: Impact, serif;
margin-top: 5px;
margin-bottom: 5px;
font-size: 18px;
}

.established {
font-style: italic;
}

h1{
font-size: 40px;
margin-top: 0;
margin-bottom: 15px;
}

h2{
font-size: 30px
}

hr {
height: 2px;
background-color: brown;
border-color: brown;
border-width: 1px;
}

.bottom-line {
margin-top:25px
}

img {
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
padding: 5px;
height: 80px;
}

/* FOOTER */

footer {
font-size: 14px;
}

.address {
margin-bottom: 5px;
}

a{
color: black;
}

a:visited {
color: black;
}

a:hover {
color: brown;
}

a:active {
color: brown;
}